.title-restaurants{
    background-color: lightgray;
    background: #bac64a url("/assets/food-pattern-15.png");
    color: aliceblue;
    height: 170px;
    font-family: 'Amatic SC', cursive;
    font-size: 4rem;
    padding: 50px;
    text-align: center;
}