.btn-outline-success:active{
    margin: 0;
}

.btn-outline-success {
    color: #bac64a;
    border-color: #bac64a;
}

.input-review{
    width:  685px;
    display: inline-block;
    margin: 20px;
}

.review-form{
    margin: 20px;
}

.rating{
    margin-left: 20px; 
}

@media (max-width: 600px){
    .input-review{
        width:  280px;
        display: inline-block;
        margin: 20px;
    }
 }
