@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Dancing+Script&display=swap');

.App {
  text-align: center; 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-outline-success:hover, .btn-outline-success:active{
  color: #fff !important;
  background-color: #bac64a;
  border-color: #bac64a;
}

.btn-outline-success:not(:disabled):not(.disabled):active{
  color: #fff !important;
  background-color: #bac64a;
  border-color: #bac64a;
}

.btn-outline-success:disabled {
  color: #fff !important;
  background-color: lightgray;
  border-color: lightgray;
  cursor: pointer;
}


.btn-primary:active, .btn-primary:hover, .btn-primary, .btn-primary:focus, .btn-primary:focus-within {
  color: #fff !important;
  background-color: #bac64a !important;
  border-color: #bac64a !important;
}
