.btn-outline-success:active{
    margin: 0;
}

.btn-outline-success {
    color: #bac64a;
    border-color: #bac64a;
}

.input-review-edit{
    width: 440px;
    display: inline-block;
    margin: 0 10px 0 0;
}

.review-form{
    margin: 20px;
}

.ratingEdit{
    margin-left: 0px; 
}